<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>带TA回家</title>
	<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<header class="jumbotron" id="overview">
	<div class="container text-center">
	<h1 >确认您的信息</h1>
	</div>
</header>


<dl class="dl-horizontal">
  
  

  <dt>标题</dt>
  <dd>{{pet_title}}</dd>

  <dt>物种</dt>
  <dd>{{species}}</dd>

  <dt>位置</dt>
  <dd>{{location}}</dd>

  <dt>联系方式</dt>
  <dd>{{tel}}</dd>

  <dt>备注</dt>
  <dd>{{supplement}}</dd>
</dl>
