<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 20px 0 20px 0;">
<table  border="0" cellpadding="0" cellspacing="0" width="400" align="center" style="border-collapse: collapse;">

	<tr align="center" >
	<td bgcolor="#414A51" style="padding: 60px 0 30px 0; color: #FFFFFF; font-size: 20px">带TA回家</td>
	</tr>

	<tr>
		<td bgcolor="#FFFFFF" style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
	</tr>

	<tr align="center" bgcolor="#F2F1F0">
	<td style="padding: 40px 0 30px 0; color: #222222; font-size: 30px">找回密码</td>		
	</tr>

	<tr align="center" bgcolor="#F2F1F0">
	<td style="padding: 20px 5px 20px 5px; color: #6D6D6D;">您正在申请找回密码，点击链接即可重置密码，或将网址粘贴至浏览器地址栏内直接访问；如非本人操作请注意账户安全。</td>		
	</tr>

	<tr align="center" bgcolor="#F2F1F0">
		<td style="padding: 20px 0 20px 0; color: #6D6D6D;"><a href="{{recover_url}}">{{recover_url}}</a></td>
	</tr>

	<tr>
		<td bgcolor="#FFFFFF" style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
	</tr>
	
	<tr align="center" bgcolor="#F2F1F0">
		<td style="padding: 20px 0 20px 0; color: #414A51">有问题、建议、吐嘈？直接回复邮件，告诉我们。</td>
	</tr>
</table>

</body>
</html>
