<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>带TA回家</title>
	<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<style >
        body{
            padding-top: 50px; 
        }
        .starter{
        	padding: 40px 15px;
        	text-align: center;
        }
	</style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
            	<a href={{url_for('submit_pet')}} class="navbar-brand">带TA回家</a>
            </div>
        	<div id="navbar" class="collapse navbar-collapse">
        		<ul class="nav navbar-nav">
        			<li class="active"><a href={{url_for('submit_pet')}}>Home</a></li>
        			<li><a href={{url_for('submit_pet')}}>About</a></li>
        			<li><a href={{url_for('submit_pet')}}>Contact</a></li>
        			<li><a href={{url_for('login')}}>登录</a></li>
        			<li><a href={{ url_for('sign_up') }}>注册</a></li>

        			<li><a href='/show/cat'>猫猫</a></li>
		              <li><a href='show/dog'>狗狗</a></li>
        		</ul>
        	</div>
        </div>
    </nav>

<div class="container text-center">
	<div class="starter">
		<h1 >流浪动物信息</h1>
	</div>	
</div>


<div class="container">
    <div class="row col-md-6 col-md-offset-3">
        <form class="form-horizontal" role="form" action="/" method="post" enctype="multipart/form-data">
      
  
        <div class="form-group">
	    <label for="pet-title" class="col-sm-2 control-label">标题</label>
	        <div class="col-sm-9">
		        <input type="text" class="form-control" id="pet-title" placeholder="输入您的标题" name="pet-title">
	        </div>
        </div>
        
        <div class="form-group">
	    <label for="petphoto" class="col-sm-2 control-label">上传照片</label>
	        <div class="col-sm-9">
		    <input type="file" id="petphoto" name="petphoto">
		    <p class="help-block">选择您要上传的小动物照片，支持照片格式: png, jpg, jpeg, gif</p>
	        </div>
        </div>

        <div class="form-group">
	    <label for="species" class="col-sm-2 control-label">物种</label>
	        <div class="col-sm-9 dropdown">
		        <select class="form-control" id="species" name="species">
			        <option>狗狗</option>
			        <option>猫猫</option>
			        <option>其他</option>
		        </select>
	        </div>
        </div>

        <div class="form-group">
	    <label for="location" class="col-sm-2 control-label">位置</label>
	        <div class="col-sm-9">
		    <input type="text" class="form-control" id="location" placeholder="输入您的位置：北京市 海淀区 ……" name="location">
	        </div>
        </div>

        <div class="form-group">
	    <label for="contact" class="col-sm-2 control-label">联系方式</label>
	        <div class="col-sm-9">
		    <input type="text" class="form-control" id="contact" placeholder="输入您的联系方式" name="tel">
            </div>
        </div>

        <div class="form-group">
	    <label for="supplement" class="col-sm-2 control-label">备注</label>
	    <div class="col-sm-9">
		    <input type="text" class="form-control" id="supplement" placeholder="其他信息：如小动物的描述、年龄、性别等" name="supplement">
	    </div>
        </div>


        <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-9">
		        <button type="submit" class="btn btn-default">提交</button>
	        </div>
        </div>
        </form>
    </div>
</div>

</body>
</html>