
{% extends "layout.html" %}
{% block body %}  

<div class="container text-center">
	<div class="starter">
		<h1 >流浪动物信息</h1>
	</div>	
</div>


<div class="container">
    <div class="row col-md-6 col-md-offset-3">
        <form class="form-horizontal" role="form" action="/submit" method="post" enctype="multipart/form-data" id="myform">
      
  
        <div class="form-group">
	    <label for="pet-title" class="col-sm-2 control-label">标题</label>
	        <div class="col-sm-9">
		        <input required type="text" class="form-control" id="pet-title" placeholder="输入您的标题" name="pet-title" maxlength="20">
	        </div>
        </div>


        <div class="form-group">
	    <label for="petphoto" class="col-sm-2 control-label">上传照片</label>
	        <div class="col-sm-9">
		   <input class="multi with-preview"  maxlength="5"  accept="gif|jpg|png|jpeg" type="file" id="petphoto" multiple="" name="petphoto">
		<p class="help-block" id="photo_help">选择您要上传的小动物照片，支持照片格式: png, jpg, jpeg, gif</p>
	        </div>
        </div>

        <div class="form-group">
	    <label for="species" class="col-sm-2 control-label">物种</label>
	        <div class="col-sm-9 dropdown">
		        <select class="form-control" id="species" name="species">
			        <option>狗狗</option>
			        <option>猫猫</option>
			        <option>其他</option>
		        </select>
	        </div>
        </div>

        <div class="form-group">
	    <label for="species" class="col-sm-2 control-label">年龄</label>
	        <div class="col-sm-9 dropdown">
		        <select class="form-control" id="age" name="age">
		            <option>0-6个月</option>
		            <option>6-12个月</option>
			        <option>1-2岁</option>
			        <option>3-5岁</option>
			        <option>6岁以上</option>
			        <option>不详</option>
		        </select>
	        </div>
        </div>

        <div class="form-group">
	    <label for="species" class="col-sm-2 control-label">性别</label>
	        <div class="col-sm-9 dropdown">
		        <select class="form-control" id="gender" name="gender">
			        <option>雄性</option>
			        <option>雌性</option>
		        </select>
	        </div>
        </div>
        
        <div class="form-group">
	    <label for="species" class="col-sm-2 control-label">是否绝育</label>
	        <div class="col-sm-9 dropdown">
		        <select class="form-control" id="sterilization" name="sterilization">
			        <option>是</option>
			        <option>否</option>
			        <option>不详</option>
		        </select>
	        </div>
        </div>

        <div class="form-group">
	    <label for="species" class="col-sm-2 control-label">是否免疫</label>
	        <div class="col-sm-9 dropdown">
		        <select class="form-control" id="immunization" name="immunization">
			        <option>是</option>
			        <option>否</option>
			        <option>不详</option>
		        </select>
	        </div>
        </div>

        <div class="form-group">
	    <label for="location" class="col-sm-2 control-label">健康状况</label>
	        <div class="col-sm-9">
		    <input required type="text" class="form-control" id="health" placeholder="详细介绍宠物的健康状况" name="health" >
	        </div>
        </div>


        <div class="form-group">
	    <label for="location" class="col-sm-2 control-label">位置</label>
	        <div class="col-sm-9">
		    <input required type="text" class="form-control" id="location" placeholder="输入您的位置：北京市 海淀区 ……" name="location" >
	        </div>
        </div>

        <div class="form-group">
	    <label for="contact" class="col-sm-2 control-label">联系方式</label>
	        <div class="col-sm-9">
		    <input required type="text" class="form-control" id="contact" placeholder="输入您的联系方式" name="tel" maxlength="20">
            </div>
        </div>

        <div class="form-group">
	    <label for="supplement" class="col-sm-2 control-label">备注</label>
	    <div class="col-sm-9">
		    <input type="text" class="form-control" id="supplement" placeholder="" name="supplement">
	    </div>
        </div>

        <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-9">
		        <button type="submit" class="btn btn-default">提交</button>
	        </div>
        </div>
        </form>

         <script  type="text/javascript">
 var frmvalidator = new Validator("myform");
 frmvalidator.addValidation("petphoto","req","上传照片才能让领养着更多地了解小动物哦，去上传吧：）");
</script>

    </div>
</div>

{% endblock %}