<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>带TA回家</title>
	<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">	
	<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <style >
        body{
            padding-top: 100px; 
        }
     
  </style>

</head>
<body>


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <a href={{url_for('submit_pet')}} class="navbar-brand">带TA回家</a>
            </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href={{url_for('submit_pet')}}>Home</a></li>
              <li><a href={{url_for('submit_pet')}}>About</a></li>
              <li><a href={{url_for('submit_pet')}}>Contact</a></li>
              <li><a href={{url_for('login')}}>登录</a></li>
              <li><a href={{ url_for('sign_up') }}>注册</a></li>           
              <li><a href='/show/cat'>猫猫</a></li>
              <li><a href='/show/dog'>狗狗</a></li>           
            </ul>
          </div>
        </div>
    </nav>    

<div class="container">

      <img src="{{image}}" alt="your image" width="200">
      <dl class="dl-horizontal">
  
  

  <dt>标题</dt>
  <dd>{{pet_title}}</dd>

  <dt>物种</dt>
  <dd>{{species}}</dd>

  <dt>位置</dt>
  <dd>{{location}}</dd>

  <dt>联系方式</dt>
  <dd>{{tel}}</dd>

  <dt>备注</dt>
  <dd>{{supplement}}</dd>
</dl>
      

</div>



</body>
</html>