{% extends "layout.html" %}
{% block body %}  

<div class="container">
<div class="col-sm-6 col-md-4">
{% if num_photo>1 %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <ol class="carousel-indicators">
  {% for i in range(num_photo) %}
  {% if i == 0 %}
  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  {% else %}     
  <li data-target="#carousel-example-generic" data-slide-to="{{i}}"></li>
  {% endif %}
  {% endfor %}  
  </ol>

  <!-- Wrapper for slides -->

  <div class="carousel-inner" role="listbox">
  {% for i in range(num_photo) %}
  {% if i == 0 %}
   <div class="item active">
   {% else %}
   <div class="item">
   {% endif %}
   <img src="{{image[i] + '?imageView2/2/w/400'}}" alt="the animal image">
   </div>
   {% endfor %}
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>
{% else %}
<div class="thumbnail">
   <img src="{{image[0] + '?imageView2/2/w/400'}}" alt="your image" width="400">
</div>
{% endif %}
</div>



<div class="col-sm-6 col-md-4">
    <h1>{{pet_dict['pet_title']}}</h1>
<p>
 <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{pet_dict['location']}}
  </p>
     
  <p>{{pet_dict['species']}}</p>
  <p>年龄:{{pet_dict['age']}}</p>
  <p>性别:{{pet_dict['gender']}}</p>
  <p>是否绝育:{{pet_dict['sterilization']}}</p>
  <p>是否免疫:{{pet_dict['immunization']}}</p>
  <p>健康状况:{{pet_dict['health']}}</p>
  <p>联系方式:{{pet_dict['tel']}}</p>
  <p>备注:{{pet_dict['supplement']}}</p>

 <wb:share-button appkey="2743619021" addition="simple" type="button" ralateUid="5792801747" default_text="我刚刚发布了一个流浪动物信息，快来围观吧，亲们，快来带它回家吧～"></wb:share-button>


</div>




<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key= "{{pet_id}}" data-title="{{pet_dict['pet_title']}}" data-url="/petpage/{{pet_id}}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"taketahome"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->


</div>

{% endblock %}