 {% extends "layout.html" %}
{% block body %}  

<div class="container con1" >
<!-- <div class="photowall js-masonry"
  data-masonry-options='{ "itemSelector": ".pet" }'> -->
  <div class="photowall">

{% for key, value in pet_dict %}
   
  <!-- <div class="col-sm-3 col-md-3"> -->
  
  <a href="{{url_for('show_post', pet_id = key)}}" title="点击查看TA的详细信息"> 
    <div class="thumbnail pet" >
    <!-- <div class="pet"> -->
      

      <img src="{{value['photo_urls'][0] + '?imageView2/2/w/250'}}" alt="your image">
      
      <div class="caption">

        <h3>{{value['pet_title']}}</h3>
        <ul class="list-inline">
        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{value['location']}}</li>
        <li><span class="glyphicon glyphicon-time text-right" aria-hidden="true"></span> {{value['date']}}</li>
        </ul>

        
         </div>
         </div>
         </a>
       
     
    <!-- </div>  -->
{% endfor %}
  </div>
  </div>

<!-- </div> -->

{% endblock %}