{% extends "layout.html" %}
{% block body %}

<div class="container text-center">
	<div class="starter">
		<h1 >注册</h1>
        {% if message %}
            <p class=message><strong>提示:</strong> {{ message }}
        {% endif %}
	</div>	
</div>


<div class="container">
    <div class="row col-md-6 col-md-offset-3">
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
      
  
        <div class="form-group">
	    <label for="username" class="col-sm-2 control-label">用户名</label>
	        <div class="col-sm-9">
		        <input required type="text" class="form-control" id="username" placeholder="仅限大小写英文字母和数字"name="username" value="{{request.form.username }}" maxlength="20">
	        </div>
        </div>
        
        <!--<div class="form-group">
	    <label for="petphoto" class="col-sm-2 control-label">上传照片</label>
	        <div class="col-sm-9">
		    <input type="file" id="petphoto" name="petphoto">
		    <p class="help-block">选择您要上传的小动物照片，支持照片格式: png, jpg, jpeg, gif</p>
	        </div>
        </div>-->


        <div class="form-group">
	    <label for="location" class="col-sm-2 control-label">E-mail</label>
	        <div class="col-sm-9">
		    <input required type="email" class="form-control" id="email" placeholder="输入您的E-mail" name="email" maxlength="30">
	        </div>
        </div>

        <div class="form-group">
	    <label for="contact" class="col-sm-2 control-label">密码</label>
	        <div class="col-sm-9">
		    <input required type="password" class="form-control" id="password" placeholder="至少6个字符" name="password" maxlength="20">
            </div>
        </div>

        <div class="form-group">
	    <label for="supplement" class="col-sm-2 control-label">确认密码</label>
	    <div class="col-sm-9">
		    <input required type="password" class="form-control" id="confirmpassword" placeholder="请确认您的密码" name="confirmpassword" maxlength="20">
	    </div>
        </div>


        <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-9">
		        <button type="submit" class="btn btn-default">注册</button>
	        </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}