{% extends "layout.html" %}
{% block body %}  

<header>
<div class="container">
<h2 id="message">{{message}}</h2>
</div>
</header>

{% if  pet_dict %}

<div class="container con1">
<div class="photowall js-masonry"
  data-masonry-options='{ "itemSelector": ".pet" }'>

{% for key, value in pet_dict %}
   
  <!-- <div class="col-sm-3 col-md-3"> -->
  
  <a href="{{url_for('show_post', pet_id = key)}}" title="点击查看TA的详细信息"> 
    <div class="pet thumbnail">
      
      <img src="{{value['photo_urls'][0] + '?imageView2/2/w/300' }}" alt="your image">
      
      <div class="caption">

        <h3>{{value['pet_title']}}</h3>
        <ul class="list-inline">
        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{value['location']}}</li>
        <li><span class="glyphicon glyphicon-time text-right" aria-hidden="true"></span> {{value['date']}}</li>
        <li> 
        <form action={{url_for('delete_pet')}} method="POST">
        <button type="submit" class="btn btn-default" value="{{key}}" name="pet_id"> <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
        </button>
        </form>
        </li>
        </ul>

        
         </div>
         </div>
         </a>
       
     
{% endfor %}
  </div><!--photowall -->
  </div><!--container-->
{% endif %}

{% endblock %}